<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/header/header.html'"></div>
<div class="container">
  <div class="col-md-offset-1 col-md-10">
    <ul>
      <li ng-repeat="message in messages">
        <!-- edit a message -->
        <input ng-model="message.text" ng-change="messages.$save(message)" />
        <!-- delete a message -->
        <button ng-click="messages.$remove(message)">Delete Message</button>
      </li>
    </ul>
    <!-- push a new message onto the array -->
    <form ng-submit="addMessage()">
      <input ng-model="newMessageText" />
      <button type="submit">Add Message</button>
    </form>
  </div>
</div>
<div ng-include="'components/footer/footer.html'"></div>