<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/header/header.html'"></div>
<div class="container">
  <div id="project-gallery" class="col-md-12">
      <div class="page-header text-center">
        <h1>Competitions<small></small></h1>
      </div>
      <div class="row">
        <div class="col-md-offset-2 col-md-8" style="padding-top:50px;">
            <div class="event" ng-repeat="competition in competitions">
                <h3>{{competition.name}} <small>{{competition.host}}</small></h3>
                <img ng-if="competition.img" class="img img-responsive" ng-src="{{competition.img}}">
                <h4><small>{{competition.date}}</small></h4>
                <a class="btn btn-sm btn-primary" ng-href="{{competition.link}}">Article</a>
                <hr>
            </div>
        </div>
      </div>
  </div>
</div>
<div ng-include="'components/footer/footer.html'"></div>